<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VerilogEvaluation</display-name>
  
  <servlet>
    <servlet-name>VerilogEvaluation</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet> 
  <servlet-mapping>
    <servlet-name>VerilogEvaluation</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>FileUploadHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
     <servlet> 
   
    <servlet-name>BotDetect Captcha</servlet-name> 
    <servlet-class>com.captcha.botdetect.web.servlet.CaptchaServlet</servlet-class> 
  </servlet> 
  <servlet-mapping> 
    <servlet-name>BotDetect Captcha</servlet-name> 
    <url-pattern>/botdetectcaptcha</url-pattern> 
  </servlet-mapping> 
   
<!--   <session-config>
    <session-timeout>1</session-timeout>
    <cookie-config>
        <http-only>true</http-only>
        <secure>true</secure>
    </cookie-config>
</session-config>
   -->
    
    <!-- 
	<filter>
    	<filter-name>springSecurityFilterChain</filter-name>
    	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
	
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/VerilogEvaluation-servlet.xml
    		<!-- /WEB-INF/SecurityConfig.xml -->
    </param-value>
  </context-param>
  
  <jsp-config>
  <jsp-property-group>
    <url-pattern>*.jsp</url-pattern>
    <trim-directive-whitespaces>true</trim-directive-whitespaces>
  </jsp-property-group>
</jsp-config>
</web-app>